


{% extends 'partial/base.html' %}
{% load static %}
{% block content %}


<head>
   
    <title>Send To whatsapp</title>
   
</head>
    <!-- Body main wrapper start -->
    <div id="top1" class="wrapper">

        <!-- START HEADER AREA -->
        
        <!-- END HEADER AREA -->

        <!-- START MOBILE MENU AREA -->
        
        <!-- END MOBILE MENU AREA -->



        <!-- START PAGE CONTENT -->
        

            <!-- BANNER-SECTION START -->
            
            <!-- BANNER-SECTION END -->

            <!-- START PAGE CONTENT -->
        

            <!-- BANNER-SECTION START -->
            <div class="banner-section ptb-80">
            <div class="container">

            </div>
            </div>
            <!-- BANNER-SECTION END -->
            <section class="carttt">

                
                <div class="container">
                    
                    <div class="row checkout">
                            <div class="col-6">


                            </div>
                            <div class="col-6">
                                <a class="btnn mt-6" href="{{link}}">Send to whatsapp</a>


                            </div>


                         


                    </div>
                    
                        
                        
                </div>
                
            </section>

        

            

            
        
        <!-- End page content -->

       


            
        
        <!-- End page content -->



            <!-- BREADCRUMBS SETCTION END -->

     


			 <!-- START FOOTER AREA -->
        

        </div>
        <!--style-customizer end -->
    </div>
   